<!-- Contacts collection -->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <a class="btn btn-success" href="#new" role="button"><span class="glyphicon glyphicon-plus"></span> Add</a>
                <button id="ctc-sort" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span> Sort</button>
            </div>
            <div class="col-xs-6 col-sm-6">
                <input type="text" class="form-control" id="ctc-search" placeholder="Search">
            </div>
        </div>
    </div>
    <ul class="list-group list-group-hover"></ul>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6 text-right">
                Showing: <span id="ctc-visible-count"></span> of <span id="ctc-total-count"></span>
            </div>
        </div>
    </div>
</div>