<!-- New/edit contact form -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 id="ctc-title" class="panel-title">-title-</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="ctc-first-name">First name</label>
                    <input type="text" class="form-control" id="ctc-first-name" placeholder="First name" required>
                    <span class="help-block"></span>
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="ctc-first-name">Last name</label>
                    <input type="text" class="form-control" id="ctc-last-name" placeholder="Last name" required>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="ctc-email">Email address</label>
                    <input type="email" class="form-control" id="ctc-email" placeholder="Email" autocomplete="off" required>
                    <span class="help-block"></span>
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="ctc-country">Country</label>
                    <input type="search" class="typeahead form-control" id="ctc-country" placeholder="Country" autocomplete="off" required>
                    <span class="help-block"></span>
                </div>
            </div>
            <button id="ctc-save" type="submit" class="btn btn-lg btn-success">Save</button>
            <a href="#" id="ctc-cancel" class="btn btn-lg">Cancel</a>
        </form>
    </div>
</div>